<div class="ui inverted small menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: 'item' %>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">English</a>
          <a class="item">Russian</a>
          <a class="item">Spanish</a>
        </div>
      </div>
      <div class="item">
          <div class="ui primary button">
            <%= link_to "Sign Up", new_user_registration_path,
                                class: 'sign-up-link' %>
          </div>
      </div>
    </div>
  </div>
</div>
